
header {
	background-color: #222;
	color: #fff;
	padding: 20px;
	text-align: left;
}


h1 {
	margin: 0;
	font-size: 36px;
}


main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}


article {
	margin-bottom: 40px;
}


article img {
	max-width: 100%;
	height: auto;
}


article h2 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}


article p {
	line-height: 1.5;
}


footer {
	background-color: #222;
	color: #ffffff;
	padding: 20px;
	text-align: center;
}
